<!-- editar_reparacion.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Editar Reparación</title>
</head>
<body>
    <h1>Editar Reparación</h1>
    <form id="editar-reparacion-form">
        <label for="dueño">Dueño:</label>
        <input type="text" id="dueño" name="dueño" value="{{ reparacion.dueño }}">
        <br>
        <label for="patente">Patente:</label>
        <input type="text" id="patente" name="patente" value="{{ reparacion.patente }}">
        <br>
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" value="{{ reparacion.modelo }}">
        <br>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion">{{ reparacion.descripcion }}</textarea>
        <br>
        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
            <option value="sin empezar" {% if reparacion.estado == 'sin empezar' %}selected{% endif %}>Sin empezar</option>
            <option value="en proceso" {% if reparacion.estado == 'en proceso' %}selected{% endif %}>En proceso</option>
            <option value="terminado" {% if reparacion.estado == 'terminado' %}selected{% endif %}>Terminado</option>
        </select>
        <br>
        <button type="submit">Guardar cambios</button>
    </form>

    <script src="static/js/script.js"></script>
</body>
</html>