<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Taller de Motos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/estilos.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" >
      <img src="/static/logo1.jpg" alt="Logo" width="100" height="100">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding: 20px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Presupuestador</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Nuevo + <span class="caret"></span></a>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="nueva_reparacion.html">Nueva reparación</a></li>
              <li><a class="dropdown-item" href="#">Nuevo cliente</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Nuevo vehículo</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex" role="search" style="align-items: end; ">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>



    <div class="container" style="align-items: end;">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="estado-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Estado: <span id="estado-selected">Todo</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="estado-dropdown">
                  <li><a href="#" data-estado="sin-empezar">Sin empezar</a></li>
                  <li><a href="#" data-estado="en-proceso">En proceso</a></li>
                  <li><a href="#" data-estado="finalizado">Finalizado</a></li>
                  <li><a href="#" data-estado="todo">Todo</a></li>
                </ul>
              </div>
            </div>
            <div class="pull-right">
              <!-- Botones de acciones -->
            </div>
          </div>
        </div>
    <div class="container">
        <h3 style="text-align: start;">Reparaciones</h3>
        <hr>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Patente</th>
                    <th>Nombre y Apellido</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Egreso</th>
                    <th>Descripción</th>
                    <th>Presupuesto</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reparacion in reparaciones %}
                <tr>
                    <td>{{ reparacion.id }}</td>
                    <td>{{ reparacion.patente }}</td>
                    <td>{{ reparacion.nombre_apellido }}</td>
                    <td>{{ reparacion.fecha_ingreso }}</td>
                    <td>{{ reparacion.fecha_egreso }}</td>
                    <td>{{ reparacion.descripcion }}</td>
                    <td> $ {{ reparacion.presupuesto }}</td>
                    <td>
                      {% if reparacion.estado == 'sin empezar' %}
                      <span style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: #FF0000;"></span>
                      {% elif reparacion.estado == 'en proceso' %}
                      <span style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: #FFC107;"></span>
                      {% else %}
                      <span style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: #28A745;"></span>
                      {% endif %}
                  </td>
                    <td>
                      <button class="btn btn-info" style="width: 30px; height: 30px; padding: 5px;" onclick="visualizarReparacion('{{ reparacion.id }}')">
                        <img src="/static/visualizar.png" alt="Visualizar" style="width: 20px; height: 20px; display: flex;" /> 
                    </button>
                        <button class="btn btn-primary" style="width: 30px; height: 30px; padding: 5px;" onclick="editarReparacion('{{ reparacion.id }}')">
                          <img src="/static/editar.png" alt="Editar" style="width: 20px; height: 20px; display: flex;" />
                        </button>
                        <button class="btn" style="width: 30px; height: 30px; padding: 5px;" onclick="eliminarReparacion('{{ reparacion.id }}')">
                          <img src="/static/delete.png" alt="Editar" style="width: 20px; height: 20px; display: flex;" />
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>